/* html blank sheet  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    width: auto;
}

body {
    /* background: no-repeat top/contain url(/assets/footer.svg); */
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 500px) {
    .container {
        width: 480px;
    }

    .book img {
        height: 140px;
        width: 120px;
    }

    .goal-img {
        width: 100%;
    }

    .goaltxt {
        width: 100%;
    }

    .banner {
        transition: ease-in .9s;
        height: 40vh;
    }
}

@media (min-width: 560px) {
    .container {
        width: 550px;
    }

    .book img {
        height: 140px;
        width: 120px;
    }

    .goal-img {
        width: 100%;
    }

    .goaltxt {
        width: 100%;
    }

    .banner {
        transition: ease .9s;
        height: 45vh;
    }
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }

    .book img {
        height: 160px;
        width: 130px;
    }

    .goal-img {
        width: 40%;
    }

    .banner {
        transition: ease-in .9s;
        height: 60vh;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }

    .book img {
        height: 220px;
        width: 180px;
    }

    .goal-img {
        width: 40%;
    }

    .banner {
        transition: ease-in .9s;
        height: 68vh;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }

    .book img {
        height: 220px;
        width: 180px;
    }

    .goal-img {
        width: 40%;
    }

    .banner {
        transition: ease-in .9s;
        height: 73vh;
    }
}

/* =================== Button =================== */
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.42857143;
    letter-spacing: 0.7px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    user-select: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-sm {
    font-size: 0.75em;
    padding: 3.5px 12px;
}
.btn-m {
    font-size: 1em;
    padding: 6px 12px;
}
.btn-lg {
    font-size: 1.25em;
    padding: 6px 12px;
}
.btn:focus,
.btn:active:focus{
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn:hover,
.btn:focus{
    /* color: #333; */
    text-decoration: none;
}

.btn:active{
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

 /* =================== download button =================== */

.btn-outline-download {
    color: #d6ad26;
    border-color: #d6ad26;
  }
  .btn-outline-download:hover{
    color: #fff;
    background-color: #198754;
    border-color: transparent;
  }
  .btn-outline-download:focus{
    box-shadow: #d6ad26;
  }
  .btn-outline-download:focus-visible {
    color: #fff;
    background-color: #d6ad26;
    outline: 0;
  }
  .btn-outline-download:active{
    color: #fff;
    background: #d6ad26;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  }
  /* =================== Sign-in button =================== */
  .btn-sign-in {
    color: #fff;
    background-color: #d6ad26;
    border-color: #d6ad26;
    padding: 0 7px;
  }
  .btn-sign-in:hover{
    color: #fff;
    background-color: #1a3595;
    border-color: #1a3595;
  }
  .btn-sign-in:active{
    color: #fff;
    background-color: #001459;
    border-color: #001459;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  }
/* =================== Google Icons =================== */

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

/*=================== heading =================== */

.logo img {

    width: 125px;
    height: 125px;
}

/* .logo-bg {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 15%;
} */
.navg ul {
    padding: 3px;
    list-style: none;
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
    max-width: 400px;
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 0.9em;
}

.navg ul li {
    padding-top: 5px;
}

.navg ul :last-child {
    padding-top: 2px;
}

/* .navg button {
    font-size: 0.9em;
    padding: 2px;
    cursor: pointer;
    padding-top: 9px;
    padding-bottom: 9px;
    background: #A08B00;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex
} */

.navg a {
    text-decoration: none;
}

.navg {
    display: flex;
    flex-grow: 1;
    justify-content: end;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

nav {
    padding: 50px auto;
    display: flex;
    justify-content: space-between;
}

/* =================== the search section =================== */

.search-bar-container {
    /* max-width: 500px; */
    padding: 80px 0 40px 0;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar {
    /* padding-bottom: 100px; */
    width: 100%;
    height: 35px;
    max-width: 600px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(4px) saturate(180px);

}

.search-bar input {
    background: transparent;
    border: 0;
    flex: 1;
    outline: none;
    padding: 24px 30px;
    font-size: 17px;
    color: rgb(0, 0, 0);
}

::placeholder {
    color: #001459;
}

.search-bar button {
    padding: 1px;
    border: 0;
    outline: none;
    border-radius: 60% 60% 60% 60%;
    height: auto;
    background: #d6ad26;
}

  .search-bar button:active{
    color: #fff;
    background-color: #a08b00;
    border-color: #a08b00;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  }
.search-bar button img {
    padding: 4px 0 0 2px;
    width: 30px;
    height: 25px;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
}

/* =================== the books list section =================== */

.books-store {
    width: auto;
    height: fit-content;
    padding: 15px 10px 25px 10px;
    border-radius: 10px;
    /* background: rgba(0, 0, 0, 0.7); */
    display: flex;
    overflow-x: scroll;
}

.books-shelf {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: fit-content;
}

.books-row1,
.books-row2 {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    justify-content: space-evenly;
}

.book {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: fit-content;
    height: fit-content;
    align-items: center;
    margin: 10px 5px;
    padding-bottom: 15px;
}

.book img {
    padding: 10px;
    object-fit: cover;
    object-position: center;
    border: 0;
    outline: none;
    border-radius: 20px;
}

.book:hover {
    box-shadow: 0px 0px 15px #001459;
}

/* .book button {
    border: 0;
    outline: none;
    border-radius: 5px;
    width: 100px;
    font-size: 1em;
    cursor: pointer;
    color: rgb(19, 43, 64);
} */


/* =================== scroll =================== */
::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 8px rgba(0, 0, 0, .1);
}

::-webkit-scrollbar-thumb {
    background: #a08b00;
    border-radius: 10px;
}

/* =================== the out gaol section =================== */
.goal {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 100px 0;
}

.goal-img {

    /* height: 90%; */
    display: flex;
    flex-grow: 1;
    justify-content: start;
}

.goal img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    /* box-shadow: rgba(0, 0, 0, 0.4); */
    object-position: left;
    border: 0;
    outline: none;
}

.goaltxt {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    width: 40%;
    height: 90%;
    margin: 10px;
    line-height: 30px;
    word-spacing: 2px;
    letter-spacing: 1.2px;
    /* justify-content: end; */
}

.goaltxt h2 {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    /* padding: 30px; */
    text-align: center;
    width: auto;
    height: fit-content;
}

.goaltxt p {
    padding: 10px;
    text-align: justify;
    font-size: 1em;
    width: auto;
    height: fit-content;
}

/* =================== banner =================== */
.banner {
    width: 100%;
    box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.7);
    background-image: url(/assets/banner_2.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* =================== the books list section =================== */
.arrive-heading{
    margin-top: 100px;
    text-align: center;
}
.arrive-store {
    /* margin: 200px 0; */
    width: auto;
    height: fit-content;
    padding: 50px 10px 25px 10px;
    border-radius: 10px;
    /* background: rgba(0, 0, 0, 0.7); */
    display: flex;
    overflow-x: hidden;
}

.arrive-shelf {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: fit-content;
}

.books-row1,
.books-row2 {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    justify-content: space-evenly;
}

.book {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: fit-content;
    height: fit-content;
    align-items: center;
    margin: 10px 5px;
    padding-bottom: 15px;
}

.book img {
    padding: 10px;
    object-fit: cover;
    object-position: center;
    border: 0;
    outline: none;
    border-radius: 20px;
}

.book:hover {
    box-shadow: 0px 0px 15px #001459;
}
/* =================== footer =================== */

.footer-upper-container {
    padding: 100px 30px;
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    line-height: 25px;
    background: url('/assets/footer.svg');
    box-shadow: inset 0px 0px 8px rgba(255, 255, 255, 0.7);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.footer-upper-container p {
    color: #001459;
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.footer-upper-container span {
    color: #a08b00;
}

.upper-links a {
    padding: 10px 40px 0 0;
    text-decoration: none;
}

.footer-bottom {
    padding: 2px;
    display: flex;
    justify-content: space-around;
    color: white;
    background-color: rgba(0, 9, 74, 0.9);
}

.termcondition ul a {
    text-decoration: none;
    color: white;
}

.termcondition ul {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    width: auto;
}

.termcondition ul li {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    width: 150px;
}

/* =================== scroll-top =================== */

#scroll-to-top {
    display: block;
    position: fixed;
    right: 5%;
    bottom: 50px;
    background-color: #d6ad26;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    z-index: 2;
    box-shadow: 0 0 8px #001459;
}
